{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base Layout</title>
    <!-- Bootstrap links -->
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Css file-->
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

    <div class="wrapper">
           
        <h1><a href="{% url 'todos:list' %}"></a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'todos:list' %}">TODOS</a>
                          </div>
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'todos:create'%}">New</a></li>
                            <li><a href="{% url 'todos:about'%}">About</a></li>
                            <li>
                               <form action="{% url 'accounts:logout' %}" class="logout-link" method="POST">
                                {% csrf_token %}<button type="submit"> <p></p> <p></p> Logout</button>
                                    </form>
                                </li>

                          </ul>
                        </div>
                      </nav>

                      <p>welcome {{ user.username }}</p>
               
                
                {% else %}
                     <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'todos:list' %}">TODOS</a>
                          </div>
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'todos:create'%}">New</a></li>
                            <li><a href="{% url 'todos:about'%}">About</a></li>
                            <li><a href="{% url 'accounts:login' %}">Login</a></li>
                            <li><a href="{% url 'accounts:signup' %}    ">Signup</a></li>
                          </ul>
                        </div>
                      </nav>
              
                {% endif %}
                
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
    </div>

</body>
</html>